/nbproject/private/
/api/apigenerator/
/api/config/
/api/template/
/apps/admin/config/
/config/
/templates/
/log/
/web_bak/
/web/assets/
/web/css/
/web/js/
/web/fonts/
/web/img/
/web/data/reports/
/backup/
.idea/
*.lock

/web/api/miratorg_proxy.php
